<h1 class ="text-center mt-4"><Strong><%=@user.username%>'s profile </strong></h1>
<%= gravatar_for @user%>
<%if logged_in?() && current_user.id == @user.id%>
    <div class = "text-center mt-4">
        <%= link_to "Edit your profile", edit_user_path(@user.id), class: "btn btn-outline-primary"%>
    </div>
<%end%>
<h3 class ="text-center mt-4"><Strong><%=@user.username%>'s articles </strong></h1>
<%= render 'articles/article'%>

<%= will_paginate @articles, class: "apple_pagination", container: :false %>