<div class="container">
    <h5>Comments:</h5>
    <%comments = article.comments%>
    <%for comment in comments do%>
        <div class="row justify-content-xl-center">
            <div class="col-9 mt-4">
                <div class="card text-center shadow mb-1 bg-white rounded">
                <div class="card-body">
                    <p class="card-text"> <%= link_to(comment.user.username, user_path(comment.user)) if comment.user%>: <%=truncate(comment.body, length:100)%></p>
                    <%likeList = comment.likes.where(user_id: current_user, likable_id: comment.id, likable_type: "Comment")%>
                    <%if likeList.empty?%>
                        <%=button_to "Like", likes_path, method: :post, params: { user_id: current_user.id, likable_id: comment.id, likable_type: "Comment" }, form: {style: 'display:inline-block;'}%> <%= comment.likes.count%>
                    <%else%>
                        <%=button_to "Unlike", like_path(likeList.first), method: :delete, params: { user_id: current_user.id, likable_id: comment.id, likable_type: "Comment" }, form: {style: 'display:inline-block;'}%> <%= comment.likes.count%>
                    <%end%> 
                </div>
                </div>
            </div>
            <%= render 'comments/replies', replies: comment.replies%>
            <%= render 'comments/replyform', comment: comment%>
        </div>
    <%end%>
</div>



