<div class="container"> 
    <%for reply in replies do%>
        <div class="row justify-content-xl-center">
            <div class="col-8 mt-4">
                <div class="card text-center shadow mb-1 bg-dark rounded">
                <div class="card-body">
                    <p class="card-text text-white"> <%= link_to(reply.user.username, user_path(reply.user)) if reply.user%>: <%=truncate(reply.body, length:100)%> </p>
                    <%likeList = reply.likes.where(user_id: current_user, likable_id: reply.id, likable_type: "Comment")%>
                    <%if likeList.empty?%>
                        <%=button_to "Like", likes_path, method: :post, params: { user_id: current_user.id, likable_id: reply.id, likable_type: "Comment" }, form: {style: 'display:inline-block;'}%> <%= reply.likes.count%>
                    <%else%>
                        <%=button_to "Unlike", like_path(likeList.first), method: :delete, params: { user_id: current_user.id, likable_id: reply.id, likable_type: "Comment" }, form: {style: 'display:inline-block;'}  %> <%= reply.likes.count%>
                    <%end%>  
                </div>
                </div>
            </div>
        </div>
    <%end%>
</div>