<div class="container">
    <%if @article.errors.any?%>
        <%@article.errors.full_messages.each do |msg|%>
        <ul>
           <li> <%=msg%> </li>
        </ul>
        <% end %>
    <%end%>

    <div class="row justify-content-center">
        <div class="col-10">
            <%= form_with(model: @article, local: true) do |f|%>
                <div class="form-group row">
                    <%= f.label :title, class: "col-2 col-form-label"%> <br/>
                    <div class="col-10"><%= f.text_field(:title, class: "form-control")%></div>
                </div>
                <div class="form-group row">
                    <%= f.label :description, class: "col-2 col-form-label"%> <br/>
                    <div class="col-10"><%= f.text_area(:description, rows: 10, class: "form-control")%></div>
                </div>
                <div class="form-group row justify-content-center"><%= f.submit class:"btn btn-outline-light btn-lg"%></div>
            <%end%>
            <div class="form-group row justify-content-center">
                <%= link_to "Back to Articles List", articles_path, method: :get, class:"btn btn-secondary", style: "margin-right: 20px"%>
                <%if @article.valid?%>
                    <%= link_to "Delete this article", article_path(@article.id), method: :delete, data:{confirm: "Are you sure?"}, class:"btn btn-danger"%>
                <%end%>
                    </div>
            </div>

    </div>

</div>
