<h1>Edit an Article</h1>
<%if @article.errors.any?%>
    <%@article.errors.full_messages.each do |msg|%>
    <ul>
       <li> <%=msg%> </li>
    </ul>
    <% end %>
<%end%>
<%= form_with(model: @article, local: true) do |f|%>
    <p>
    <%= f.label(:title)%> <br/>
    <%= f.text_field(:title)%>
    </p>
    <p>
    <%= f.label(:description)%> <br/>
    <%= f.text_area :description%>
    </p>
    <p>
    <%= f.submit class:"btn btn-secondary", style: "margin-right: 20px"%>
    <%= link_to "Back to Articles List", articles_path, method: :get, class:"btn btn-secondary", style: "margin-right: 20px"%>
    <%= link_to "Delete this article", article_path(@article.id), method: :delete, data:{confirm: "Are you sure?"}, class:"btn btn-danger"%>
    </p>
<%end%>