<h1>Create a new Article</h1>
<%= if @article.errors.%>
<%= form_with scope: :article, url: articles_path, local: true do |f|%>
<p>
<%= f.label(:title)%>
<%= f.text_field(:title)%>
</p>
<p>
<%= f.label(:description)%>
<%= f.text_area :description%>
</p>
<p>
<%= f.submit%>
</p>
<%end%>