<h1>Hello Worlddddddddd</h1>
<div class="container col-xl", style = "text-align: center;">
<h1 class ="text-center mt-4"><Strong><%=@user.username%>'s profile </strong></h1>
<%= avatar_for @user%>
<%if logged_in?()%>
    <%if current_user == @user%>
        <div class = "text-center mt-4">
            <%= link_to "Edit your profile", edit_user_path(@user.id), class: "btn btn-outline-primary"%>
        </div>
    <%elsif !current_user.getFriends().include?(@user)%>
        <%if current_user.requestors.include?(@user)%>
            <div class = "text-center mt-4">
                <%= button_to "Accept Friend Request", friendships_path, method: :post,params: {user_id: current_user().id ,friend_id: @user.id},  class: "btn btn-outline-primary"%>
                <%= button_to "Reject Friend Request", friend_request_path, method: :delete,params: {requestor_id: @user.id ,receiver_id: current_user.id},  class: "btn btn-outline-primary"%>
            </div>
        <%elsif !current_user.receivers.include?(@user)%>
            <div class = "text-center mt-4">
                <%= button_to "Add Friend", friend_requests_path, method: :post,params: {requestor_id: current_user().id ,receiver_id: @user.id},  class: "btn btn-outline-primary"%>
            </div>
        <%else%>
            <div class = "text-center mt-4">
                <%= button_to "Cancel Friend Request", friend_request_path, method: :delete,params: {requestor_id: current_user().id ,receiver_id: @user.id}, class: "btn btn-outline-primary"%>
            </div>
        <%end%>
    <%else%>
        <div class = "text-center mt-4">
            <%= button_to "Unfriend this bitch", friendship_path, method: :delete,params: {friend_a_id: current_user().id ,friend_b_id: @user.id}, class: "btn btn-outline-primary"%>
        </div>
    <%end%>
<%end%>
<h3 class ="text-center mt-4"><Strong><%=@user.username%>'s articles </strong></h1>
<%= render 'articles/article'%>
</div>
<%= will_paginate @articles, class: "apple_pagination", container: :false %>