<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%if logged_in?()%>
          <%=link_to "ALPHA BLOG", articles_path, class: "navbar-brand", id: "logo"%>
        <%else%>
          <%=link_to "ALPHA BLOG", root_path, class: "navbar-brand", id: "logo"%>
        <%end%>
      <%# <a class="navbar-brand" id = "logo" href='root_url'>ALPHA BLOG</a> %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Articles", articles_path, class: "nav-link"%>
            <%# <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> %>
          </li>
          <li class="nav-item">
            <%= link_to "New Article", new_article_path, class:"nav-link"%>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "About Us", about_path,class: "dropdown-item"%>
              <%= link_to "Home", root_path,class: "dropdown-item"%>
              <%= link_to "All Bloggers", users_path,class: "dropdown-item"%>
              <div class="dropdown-divider"></div>
              <%= link_to "Edit your profile", edit_user_path(current_user.id),class: "dropdown-item"%> <%if logged_in?()%>
            </div>
          </li>
          <%if !logged_in?()%>
            <li class="nav-item">
                <%= link_to "Login", login_path, class:"nav-link"%>
            </li>
          <%else%>
            <li class="nav-item">
                <%= link_to current_user().username, user_path(current_user), class:"nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to "Log out", logout_path, method: :delete, class:"nav-link"%>
            </li>
          <%end%>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
</nav>
