<h1 class ="text-center mt-4"><Strong>Login to your alpha blog</strong></h1>
<div class="container-xl">
    <div class="row justify-content-center">
        <div class="col-10">
            <%= form_with(scope: :session, url: login_path, class:"shadow p-3 mb-3 bg-info rounded", local: true) do |f|%>
                <div class="form-group row">
                    <%= f.label :email, class: "col-2 col-form-label text-light"%> <br/>
                    <div class="col-10"><%= f.email_field :email, class: "form-control shadow rounded", placeholder:"Enter your email address"%></div>
                </div> <br>
                <div class="form-group row">
                    <%= f.label :password, class: "col-2 col-form-label text-light"%> <br/>
                    <div class="col-10"><%= f.password_field :password, class: "form-control shadow rounded", placeholder:"Enter your password"%></div>
                </div> <br>
                <div class="form-group row justify-content-center"><%= f.submit(@user.new_record? ? "Sign Up" : "Update account", class:"btn btn-outline-light btn-lg")%></div>
            <%end%>
            <div class="form-group row justify-content-center">
                <%= link_to "Back to Articles List", articles_path, method: :get, class:"btn btn-secondary"%>
                <%if @user.valid?%>
                    <%= link_to "Delete this article", article_path(@user.id), method: :delete, data:{confirm: "Are you sure?"}, class:"btn btn-danger", style: "margin-left: 10px"%>
                <%end%>
            </div>
        </div>

    </div>

</div>
